/** Hotspot **/

.hostpot-target .outer-circle {
  opacity: 0;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: outerCircleAnimation;
  animation-delay: 1.5s;
}

@keyframes outerCircleAnimation {
  0% {
    transform: scaleX(1);
    opacity: 1
  }

  to {
    transform: scale3d(2.3, 2.3, 2.3);
    opacity: 0
  }
}

.hostpot-target .inner-circle {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: innerCircleAnimation;
}

@keyframes innerCircleAnimation {
  0% {
    transform: scaleX(1)
  }

  18% {
    transform: scale3d(.3, .3, .3);
  }

  to {
    transform: scaleX(1)
  }
}

#hotspot0 {
  top: 107px;
  left: 513px;
  height: 40px;
  width: 40px;
}

.hotspot {
  background-color: rgba(29, 155, 240, 0.15);
  padding: 4px;
  transition: border linear 0.2s;
  border: 2px solid rgba(29, 155, 240, 0.15);
  border-radius: 50%;
}

.hotspot:hover {
  border-color: rgba(29, 155, 240, 1);
}

.hotspot.close {
  font-size: 0.7em;
  background: rgb(29 155 240);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.hotspot.close svg {
  fill: currentColor;
}

.hotspot span {
  width: 17px;
  height: 17px;
  background-color: rgb(29 155 240);
  border: 3px solid white;
  border-radius: 50%;

  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: innerHotspotAnimation;
}

@keyframes innerHotspotAnimation {
  0% {
    transform: scale(1)
  }

  18% {
    transform: scale(0.88);
  }

  to {
    transform: scale(1)
  }
}

#hotspot-info1 {
  bottom: 16.8%;
  border-radius: 8px;
  left: 28.1%;
  width: 39.5%;
  background-color: rgb(29 155 240);
  padding: 0.4rem 1rem;
  font-size: 0.75em;
  color: white;
  text-align: center;
}

#hotspot1 {
  top: 36%;
  left: 207px;
}

#hotspot2 {
  top: 163px;
  right: 230px;
}

#hotspot3 {
  top: 253px;
  left: 460px;
}

#hotspot4 {
  top: 212px;
  left: 207px;
}

#hotspot5 {
  left: 66.2%;
  top: 28.5%;
}

#hotspot6 {
  left: 27%;
  top: 21.5%;
}

#hotspot7 {
  left: 17%;
  top: 35.5%;
}

#hotspot8 {
  right: 26%;
  top: 49%;
}

#hotspot9 {
  bottom: 10.5%;
  left: 19%;
}

#hotspot10 {
  bottom: 10.5%;
  left: 34.5%;
}

#hotspot11 {
  bottom: 10.5%;
  left: 51.5%;
}

/* iPad */
@media (max-width: 1024px) {
  #hotspot-info1 {
    bottom: 6%;
  }

  #hotspot0 {
    top: 71px;
    left: 361.8px;
  }

  #hotspot1 {
    top: 34%;
    left: 142px;
  }

  #hotspot2 {
    top: 119px;
    right: 155px;
  }

  #hotspot3 {
    top: 177px;
    left: 330px;
  }

  #hotspot4 {
    top: 147px;
    left: 142px;
  }

  #hotspot5 {
    left: 66%;
    top: 28%;
  }

  #hotspot6 {
    left: 34%;
    top: 21%;
  }

  #hotspot7 {
    left: 24%;
    top: 36%;
  }

  #hotspot8 {
    right: 19%;
    top: 49%;
  }

  #hotspot9 {
    bottom: 10.5%;
    left: 26.7%;
  }

  #hotspot10 {
    bottom: 10.5%;
    left: 42.2%;
  }

  #hotspot11 {
    bottom: 10.5%;
    left: 59.2%;
  }
}

@media (max-width: 480px) {
  #hotspot-info1 {
    bottom: 8%;
    left: 16.1%;
    width: 79%;
  }

  #hotspot0 {
    left: 65.3%;
    top: 26.5%;
  }

  #hotspot1 {
    top: 34.5%;
    left: 16px;
  }

  #hotspot2 {
    top: 46%;
    right: 8px;
  }

  #hotspot3 {
    top: 70.8%;
    left: 49.5%;
  }

  #hotspot4 {
    top: 59%;
    left: 16px;
  }

  #hotspot5 {
    left: 91.3%;
    top: 27%;
  }

  #hotspot6 {
    left: 25%;
    top: 19.7%;
  }

  #hotspot7 {
    left: 11%;
    top: 34%;
  }

  #hotspot8 {
    right: 13.4%;
    top: 47.6%;
  }

  #hotspot9 {
    bottom: 9%;
    left: 15%;
  }

  #hotspot10 {
    bottom: 9%;
    left: 34.6%;
  }

  #hotspot11 {
    bottom: 9%;
    left: 56.4%;
  }
}