#hotspot1 {
  top: 94px;
  left: 451.8px;
  height: 40px;
  width: 40px;
}

.hotspot {
  background-color: rgb(244 247 255);
  padding: 3px;
  border: 1px solid rgb(29 155 240);
  border-radius: 50%;
}

.hotspot.close {
  font-size: 0.7em;
  background: rgb(29 155 240);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  width: 19px;
  height: 19px;
}

.hotspot.close svg {
  fill: currentColor;
}

.hotspot span {
  width: 10px;
  height: 10px;
  background-color: rgb(29 155 240);
  border-radius: 50%;

  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: innerHotspotAnimation;
}

@keyframes innerHotspotAnimation {
  0% {
    transform: scaleX(1)
  }

  18% {
    transform: scale3d(.85, .85, .85);
  }

  to {
    transform: scaleX(1)
  }
}

#hotspot2 {
  top: 156px;
  left: 440px;
}

#hotspot3 {
  top: 218px;
  left: 272px;
}

#hotspot4 {
  top: 189px;
  left: 359px;
}

#hotspot5 {
  left: 66.4%;
  top: 28.5%;
}

#hotspot6 {
  left: 29%;
  top: 27.3%;
}

#hotspot7 {
  left: 21%;
  top: 39.3%;
}

#hotspot8 {
  right: 39.5%;
  top: 50.3%;
}

#hotspot9 {
  bottom: 22.8%;
  left: 17.1%;
}

#hotspot10 {
  bottom: 22.82%;
  left: 33.5%;
}

#hotspot11 {
  bottom: 22.92%;
  left: 50.5%;
}

/* iPad */
@media (max-width: 1024px) {
  #hotspot1 {
    top: 71px;
    left: 361.8px;
  }

  #hotspot2 {
    top: 125px;
    left: 355px;
  }

  #hotspot3 {
    top: 175px;
    left: 218px;
  }

  #hotspot4 {
    top: 152px;
    left: 288px;
  }
}

@media (max-width: 480px) {
  #hotspot1 {
    left: 50%;
    top: 20%;
  }

  #hotspot2 {
    top: 42%;
    left: 50%;
  }

  #hotspot3 {
    top: 61%;
    left: 31.5%;
  }

  #hotspot4 {
    top: 52%;
    left: 41%;
  }

  #hotspot5 {
    left: 65.4%;
    top: 24.5%;
  }
}