#hotspot1 {
  top: 94px;
  left: 451.8px;
  height: 40px;
  width: 40px;
}

.hotspot {
  background-color: rgba(29, 155, 240, 0.15);
  padding: 4px;
  transition: border linear 0.2s;
  border: 2px solid rgba(29, 155, 240, 0);
  border-radius: 50%;
}

.hotspot:hover {
  border-color: rgba(29, 155, 240, 1);
}

.hotspot.close {
  font-size: 0.7em;
  background: rgb(29 155 240);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.hotspot.close svg {
  fill: currentColor;
}

.hotspot span {
  width: 17px;
  height: 17px;
  background-color: rgb(29 155 240);
  border: 3px solid white;
  border-radius: 50%;

  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: innerHotspotAnimation;
}

@keyframes innerHotspotAnimation {
  0% {
    transform: scale(1)
  }

  18% {
    transform: scale(0.88);
  }

  to {
    transform: scale(1)
  }
}

#hotspot2 {
  top: 151px;
  left: 435px;
}

#hotspot3 {
  top: 214px;
  left: 272px;
}

#hotspot4 {
  top: 185px;
  left: 353px;
}

#hotspot5 {
  left: 66.2%;
  top: 28.5%;
}

#hotspot6 {
  left: 27%;
  top: 26.5%;
}

#hotspot7 {
  left: 17%;
  top: 38%;
}

#hotspot8 {
  right: 26.5%;
  top: 49%;
}

#hotspot9 {
  bottom: 17.5%;
  left: 17.1%;
}

#hotspot10 {
  bottom: 17.5%;
  left: 33.5%;
}

#hotspot11 {
  bottom: 17.5%;
  left: 50.5%;
}

/* iPad */
@media (max-width: 1024px) {
  #hotspot1 {
    top: 71px;
    left: 361.8px;
  }

  #hotspot2 {
    top: 119px;
    left: 350px;
  }

  #hotspot3 {
    top: 170px;
    left: 213px;
  }

  #hotspot4 {
    top: 147px;
    left: 283px;
  }

  #hotspot5 {
    left: 66%;
    top: 28%;
  }

  #hotspot6 {
    left: 34%;
    top: 21%;
  }

  #hotspot7 {
    left: 24%;
    top: 36%;
  }

  #hotspot8 {
    right: 19%;
    top: 49%;
  }

  #hotspot9 {
    bottom: 10%;
    left: 23.5%;
  }

  #hotspot10 {
    bottom: 10%;
    left: 39%;
  }

  #hotspot11 {
    bottom: 10%;
    left: 57%;
  }
}

@media (max-width: 480px) {
  #hotspot1 {
    left: 50%;
    top: 20%;
  }

  #hotspot2 {
    top: 39%;
    left: 52%;
  }

  #hotspot3 {
    top: 57%;
    left: 29.5%;
  }

  #hotspot4 {
    top: 48%;
    left: 41%;
  }

  #hotspot5 {
    left: 64.4%;
    top: 21.5%;
  }

  #hotspot6 {
    left: 33%;
    top: 17%;
  }

  #hotspot7 {
    left: 22%;
    top: 32%;
  }

  #hotspot8 {
    right: 17%;
    top: 45%;
  }

  #hotspot9 {
    bottom: 6.5%;
    left: 21.1%;
  }

  #hotspot10 {
    bottom: 6.5%;
    left: 37.5%;
  }

  #hotspot11 {
    bottom: 6.5%;
    left: 53.5%;
  }
}