.wikipedia {
  top: 0rem;
  left: 12rem;
}

.wolfram {
  top: 9rem;
  left: 11rem;
}

.scihub {
  top: 1.5rem;
  left: 5rem;
}

.newscientist {
  top: 4rem;
  left: 26rem;
}

.nature {
  top: 10rem;
  left: 4rem;
}

.techcrunch {
  top: 10rem;
  left: 4rem;
}

.foxnews {
  top: 8.5rem;
  right: 11.5rem;
}

.cnn {
  top: 0rem;
  right: 12rem;
}

.dw {
  top: -3rem;
  left: 15rem;
}

.medium {
  top: 1.5rem;
  right: 4.5rem;
}

.substack {
  top: 9.5rem;
  right: 3.5rem;
}

.writeas {
  top: 3rem;
  left: 27rem;
}

@media (max-width: 1150px) {
  .source {
    position: static;
    margin: 20px 25px 0px 0px;
  }

  .source>div {
    width: 7rem;
    height: 7rem;
  }

  .icons {
    order: 99;
  }
}

@media (max-width: 480px) {
  .source>div {
    width: 4.5rem;
    height: 4.5rem;
  }

  .source {
    margin: 20px 20px 0px 0px;
  }
}