.wikipedia {
  top: -1rem;
  left: 15rem;
}

.wolfram {
  top: 2rem;
  left: 5rem;
}

.scihub {
  top: 3.5rem;
  left: 26rem;
}

.newscientist {
  top: 3rem;
  left: 26rem;
}

.nature {
  top: 2rem;
  left: 5rem;
}

.techcrunch {
  top: -1rem;
  left: 15rem;
}

.foxnews {
  top: 1rem;
  left: 5.5rem;
}

.cnn {
  top: 3rem;
  left: 27rem;
}

.dw {
  top: -1rem;
  left: 0rem;
}

.medium {
  top: 1rem;
  left: 5rem;
}

.substack {
  top: -1rem;
  left: 16rem;
}

.writeas {
  top: 2rem;
  left: 27rem;
}