.wikipedia {
  top: -1rem;
  left: 14rem;
}

.wolfram {
  top: 2.5rem;
  left: 5rem;
}

.scihub {
  top: 3rem;
  left: 25rem;
}

.newscientist {
  top: 4rem;
  left: 26rem;
}

.nature {
  top: 2rem;
  left: 5rem;
}

.techcrunch {
  top: -1rem;
  left: 15rem;
}

.foxnews {
  top: 2.5rem;
  left: 5.5rem;
}

.cnn {
  top: 5rem;
  left: 27rem;
}

.dw {
  top: -3rem;
  left: 15rem;
}

.medium {
  top: 2rem;
  left: 5.5rem;
}

.substack {
  top: -1rem;
  left: 16rem;
}

.writeas {
  top: 3rem;
  left: 27rem;
}

@media (max-width: 1150px) {
  .source {
    position: static;
    margin: 20px 25px 0px 0px;
  }

  .source > div {
    width: 6.25rem;
    height: 6.25rem;
  }

  .icons {
    order: 99;
  }
}

@media (max-width: 480px) {
  .source > div {
    width: 4.5rem;
    height: 4.5rem;
  }
}